<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-1" href="#">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNav = !toggleNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [class.show]="toggleNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shopping-list"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul
        appDropdown
        [targetElementId]="'profileDropDown'"
        [markActiveElementID]="'profileDropDownLink'"
        class="navbar-nav ml-auto mb-lg-0 mb-2 me-4"
      >
        <li class="nav-item dropdown">
          <a
            id="profileDropDownLink"
            class="nav-link dropdown-toggle"
            role="button"
            aria-expanded="false"
            ><span><i class="bi bi-person-fill"></i></span> Profile
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end end-0"
            id="profileDropDown"
          >
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item">Support</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item"
                ><span><i class="bi bi-box-arrow-left"></i></span> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
