<div class="row py-4">
  <app-alerts
    *ngIf="isVisible"
    [alert]="alert"
    (closeAlertEvent)="closeAlert()"
  ></app-alerts>
  <div class="col-md-12">
    <app-shopping-edit
      (newIngredientEvent)="addIngredient($event)"
    ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        *ngFor="let ingredient of ingredients"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>
  </div>
</div>
